<h2 class="text-2xl font-semibold mb-6">Edit Pet</h2>

<%= form_with model: @pet, local: true, html: { multipart: true }, class: "space-y-6" do |f| %>
  <%= render "shared/error_messages", resource: @pet %>

  <div class="flex flex-col">
    <%= f.label :name, class: "text-sm font-medium text-gray-700" %>
    <%= f.text_field :name, class: "p-2 border rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :description, class: "text-sm font-medium text-gray-700" %>
    <%= f.text_area :description, class: "p-2 border rounded-md" %>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col">
      <%= f.label :species, class: "text-sm font-medium text-gray-700" %>
      <%= f.select :species, Pet.species.keys.map { |s| [s.titleize, s] }, {}, class: "p-2 border rounded-md" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :status, class: "text-sm font-medium text-gray-700" %>
      <%= f.select :status, Pet.statuses.keys.map { |s| [s.titleize, s] }, {}, class: "p-2 border rounded-md" %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col">
      <%= f.label :age, class: "text-sm font-medium text-gray-700" %>
      <%= f.number_field :age, class: "p-2 border rounded-md", min: 0 %>
    </div>

    <div class="flex flex-col">
      <%= f.label :size, class: "text-sm font-medium text-gray-700" %>
      <%= f.select :size, ['Small', 'Medium', 'Large'], {}, class: "p-2 border rounded-md" %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :address, class: "text-sm font-medium" %>
    <%= f.text_field :address, class: "p-2 border rounded-md" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :photo, class: "text-sm font-medium text-gray-700" %>
    <%= f.file_field :photo, class: "p-2 border rounded-md" %>
  </div>

  <div>
    <%= f.submit "Update Pet", class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  </div>
<% end %>
