<!DOCTYPE html>
<html>
  <head>
    <title>StrayPawBridge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", crossorigin: "" %>
    <%= javascript_include_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js", crossorigin: "" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", rel: "stylesheet", crossorigin: "anonymous" %>
  </head>

  <body class="min-h-screen flex flex-col bg-[#FAF3E0] bg-repeat">
    <%= render "shared/navbar" %>

    <main class="flex-grow container mx-auto px-4">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
